.container{
    padding: 0 15px;
    position: relative;
    .row{
        margin-left: -15px;
        margin-right: -15px;
    }
}

.container, .row, .cf,ul.pui-pagination, .pui-col, .pui-nav, .pui-nav>.inner, .pui-nav .collapsible, .pui-nav ul.menu, .pui-nav ul.menu>li{
    &::after, &::before{
        @include clearfixing;
    }
}

.cf{
    display: block;
}

.pui-col{
    display: block;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    text-align: left;
    padding-left: 15px;
    float: left;
    &.xs-0{
        width: col(0)
    }
    &.xs-1{
        width: col(1)
    }
    &.xs-2{
        width: col(2)
    }
    &.xs-3{
        width: col(3)
    }
    &.xs-4{
        width: col(4)
    }
    &.xs-5{
        width: col(5)
    }
    &.xs-6{
        width: 50%
    }
    &.xs-7{
        width: col(7)
    }
    &.xs-8{
        width: col(8)
    }
    &.xs-9{
        width: col(9)
    }
    &.xs-10{
        width: col(10)
    }
    &.xs-11{
        width: col(11)
    }
    &.xs-12{
        width: 100%
    }
    &.xs-offset-0{
        left: col(0)
    }
    &.xs-offset-1{
        left: col(1)
    }
    &.xs-offset-2{
        left: col(2)
    }
    &.xs-offset-3{
        left: col(3)
    }
    &.xs-offset-4{
        left: col(4)
    }
    &.xs-offset-5{
        left: col(5)
    }
    &.xs-offset-6{
        left: 50%
    }
    &.xs-offset-7{
        left: col(7)
    }
    &.xs-offset-8{
        left: col(8)
    }
    &.xs-offset-9{
        left: col(9)
    }
    &.xs-offset-10{
        left: col(10)
    }
    &.xs-offset-11{
        left: col(11)
    }
    &.xs-offset-12{
        left: 100%
    }
}
@media only screen and (min-width: 600px) {
    .pui-col{
        &.sm-0{
            width: col(0)
        }
        &.sm-1{
            width: col(1)
        }
        &.sm-2{
            width: col(2)
        }
        &.sm-3{
            width: col(3)
        }
        &.sm-4{
            width: col(4)
        }
        &.sm-5{
            width: col(5)
        }
        &.sm-6{
            width: 50%
        }
        &.sm-7{
            width: col(7)
        }
        &.sm-8{
            width: col(8)
        }
        &.sm-9{
            width: col(9)
        }
        &.sm-10{
            width: col(10)
        }
        &.sm-11{
            width: col(11)
        }
        &.sm-12{
            width: 100%
        }
        &.sm-offset-0{
            left: col(0)
        }
        &.sm-offset-1{
            left: col(1)
        }
        &.sm-offset-2{
            left: col(2)
        }
        &.sm-offset-3{
            left: col(3)
        }
        &.sm-offset-4{
            left: col(4)
        }
        &.sm-offset-5{
            left: col(5)
        }
        &.sm-offset-6{
            left: 50%
        }
        &.sm-offset-7{
            left: col(7)
        }
        &.sm-offset-8{
            left: col(8)
        }
        &.sm-offset-9{
            left: col(9)
        }
        &.sm-offset-10{
            left: col(10)
        }
        &.sm-offset-11{
            left: col(11)
        }
        &.sm-offset-12{
            left: 100%
        }
    }
}
@media only screen and (min-width: 768px) {
    .pui-col{
        &.md-0{
            width: col(0)
        }
        &.md-1{
            width: col(1)
        }
        &.md-2{
            width: col(2)
        }
        &.md-3{
            width: col(3)
        }
        &.md-4{
            width: col(4)
        }
        &.md-5{
            width: col(5)
        }
        &.md-6{
            width: 50%
        }
        &.md-7{
            width: col(7)
        }
        &.md-8{
            width: col(8)
        }
        &.md-9{
            width: col(9)
        }
        &.md-10{
            width: col(10)
        }
        &.md-11{
            width: col(11)
        }
        &.md-12{
            width: 100%
        }
        &.md-offset-0{
            left: col(0)
        }
        &.md-offset-1{
            left: col(1)
        }
        &.md-offset-2{
            left: col(2)
        }
        &.md-offset-3{
            left: col(3)
        }
        &.md-offset-4{
            left: col(4)
        }
        &.md-offset-5{
            left: col(5)
        }
        &.md-offset-6{
            left: 50%
        }
        &.md-offset-7{
            left: col(7)
        }
        &.md-offset-8{
            left: col(8)
        }
        &.md-offset-9{
            left: col(9)
        }
        &.md-offset-10{
            left: col(10)
        }
        &.md-offset-11{
            left: col(11)
        }
        &.md-offset-12{
            left: 100%
        }
    }
}
@media only screen and (min-width: 1200px) {
    .pui-col{
        &.lg-0{
            width: col(0)
        }
        &.lg-1{
            width: col(1)
        }
        &.lg-2{
            width: col(2)
        }
        &.lg-3{
            width: col(3)
        }
        &.lg-4{
            width: col(4)
        }
        &.lg-5{
            width: col(5)
        }
        &.lg-6{
            width: 50%
        }
        &.lg-7{
            width: col(7)
        }
        &.lg-8{
            width: col(8)
        }
        &.lg-9{
            width: col(9)
        }
        &.lg-10{
            width: col(10)
        }
        &.lg-11{
            width: col(11)
        }
        &.lg-12{
            width: 100%
        }
        &.lg-offset-0{
            left: col(0)
        }
        &.lg-offset-1{
            left: col(1)
        }
        &.lg-offset-2{
            left: col(2)
        }
        &.lg-offset-3{
            left: col(3)
        }
        &.lg-offset-4{
            left: col(4)
        }
        &.lg-offset-5{
            left: col(5)
        }
        &.lg-offset-6{
            left: 50%
        }
        &.lg-offset-7{
            left: col(7)
        }
        &.lg-offset-8{
            left: col(8)
        }
        &.lg-offset-9{
            left: col(9)
        }
        &.lg-offset-10{
            left: col(10)
        }
        &.lg-offset-11{
            left: col(11)
        }
        &.lg-offset-12{
            left: 100%
        }
    }
}
