.btn, .pui-tab>ul.tab-head>li>button, ul.pui-pill>li>button{
    @include no-select;
}

a{
    text-decoration: none;
}

img.img{
    &.responsive{
        max-width: 100%;
    }
    &.rounded{
        border-radius: 2.5px;
    }
    &.circle{
        border-radius: 10000px;
    }
    &.raised{
        box-shadow: 0px 5px 10px -2.5px rgba(0,0,0,.5)
    }
}

label.lbl{
    font-size: 75%;
    padding: 4px 15px;
    border-radius: 1000px;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    margin: 2.5px 5px;
    font-weight: bold;
    &.primary{
        background-color: $primary;
    }
    &.gray{
        background-color: $gray;
    }
    &.blue{
        background-color: $blue;
    }
    &.yellow{
        background-color: $yellow;
    }
    &.green{
        background-color: $green;
    }
    &.red{
        background-color: $red;
    }
}

.collapsible{
    display: none;
    &.collapsed{
        display: block;
    }
}

a.pui-link{
    position: relative;
    color: $primary;
    &.no-line{
        &::after{
            content: none;
            display: none;
        }
    }
    &::after{
        content: '';
        position: absolute;
        bottom: calc(-.2em - 2px);
        height: 1.5px;
        background-color: currentColor;
        right:0;
        left:0;
        transition: 300ms;
        transform: scaleX(0);
        pointer-events: none;
    }
    &:hover, &:focus{
        &::after{
            transform: scaleX(1);
        }
    }
}

.btn-group{
    .btn{
        margin: 0;
        border-radius: 0;
        white-space: normal;
        float: right;
        &:first-child{
            border-radius: 0 2.5px 2.5px 0
        }
        &:last-child{
            border-radius: 2.5px 0 0 2.5px
        }
    }
    &.circle{
        .btn{
            &:first-child{
                border-radius: 0 1000px 1000px 0
            }
            &:last-child{
                border-radius: 1000px 0 0 1000px
            }
        }
    }
    display: inline-block;
}

.badge{
    font-size: 50%;
    background-color: red;
    height: 2em;
    vertical-align: middle;
    min-width: 2em;
    line-height: 2em;
    color: #fff;
    border-radius: 1000px;
    display: inline-block;
    @include no-select;
    &.raised{
        box-shadow: 0 .25em .47em -1px rgba(0,0,0,.35)
    }
    &.float-left{
        float: left !important;
    }
}

.btn{
    &:not(.simple){
        .badge{
            background-color: #fff
        }
        &.primary{
            .badge{
                color: $primary
            }
        }
        &.gray{
            .badge{
                color: $gray
            }
        }
        &.blue{
            .badge{
                color: $blue
            }
        }
        &.yellow{
            .badge{
                color: $yellow
            }
        }
        &.green{
            .badge{
                color: $green
            }
        }
        &.red{
            .badge{
                color: $red
            }
        }
        &.white{
            .badge{
                color: #fff;
                background-color: #999 !important
            }
        }
    }
}
